/*!
 * tutorial.js v1.0.0 (https://martinsutka.github.io/tutorial.js)
 * Copyright 2025 martinsutka
 */
body {
  --tutorial-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --tutorial-surface: rgba(255, 255, 255, 0.001);
  --tutorial-pulse: #ff5722;
  --tutorial-pulse-border-width: 2px;
  --tutorial-pulse-size: 10px;
  --tutorial-tip-background: #607d8b;
  --tutorial-tip-color: rgba(255, 255, 255, 0.93);
}
.tutorial {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1002;
  background: var(--tutorial-surface);
  top: 0;
  left: 0;
  pointer-events: none;
}
.tutorial__pulse {
  overflow: initial;
  position: absolute;
  pointer-events: none;
}
.tutorial__pulse > div {
  position: absolute;
  width: var(--tutorial-pulse-size);
  height: var(--tutorial-pulse-size);
  content: "\00a0";
  border: var(--tutorial-pulse-border-width) solid var(--tutorial-pulse);
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.tutorial__pulse > div:nth-child(1) {
  animation-name: tutorial__pulse1;
  border-width: var(--tutorial-pulse-border-width) 0 0 var(--tutorial-pulse-border-width);
}
.tutorial__pulse > div:nth-child(2) {
  animation-name: tutorial__pulse2;
  border-width: var(--tutorial-pulse-border-width) var(--tutorial-pulse-border-width) 0 0;
  right: 0;
}
.tutorial__pulse > div:nth-child(3) {
  animation-name: tutorial__pulse3;
  border-width: 0 var(--tutorial-pulse-border-width) var(--tutorial-pulse-border-width) 0;
  right: 0;
  bottom: 0;
}
.tutorial__pulse > div:nth-child(4) {
  animation-name: tutorial__pulse4;
  border-width: 0 0 var(--tutorial-pulse-border-width) var(--tutorial-pulse-border-width);
  bottom: 0;
}
.tutorial__tip {
  background: var(--tutorial-tip-background);
  color: var(--tutorial-tip-color);
  font-size: 1em;
  border-radius: 1rem;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  pointer-events: all;
}
.tutorial__tip--visible {
  opacity: 1;
  transform: scale(1);
}
.tutorial__tip--right {
  margin-left: 2rem;
  border-top-left-radius: 0;
}
.tutorial__tip--right::before {
  content: "\00a0";
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0;
  left: 1px;
  transform: translate(-100%, 0);
  border: 0.5rem solid var(--tutorial-tip-background);
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.tutorial__tip--left {
  margin-left: -2rem;
  border-top-right-radius: 0;
}
.tutorial__tip--left::before {
  content: "\00a0";
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0;
  right: 1px;
  transform: translate(100%, 0);
  border: 0.5rem solid var(--tutorial-tip-background);
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.tutorial__tip--bottom {
  margin-top: 2rem;
  border-top-left-radius: 0;
}
.tutorial__tip--bottom::before {
  content: "\00a0";
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 1px;
  left: 0;
  transform: translate(0, -100%);
  border: 0.5rem solid var(--tutorial-tip-background);
  border-right-color: transparent;
  border-top-color: transparent;
}
.tutorial__tip--top {
  margin-top: -2rem;
  border-bottom-left-radius: 0;
}
.tutorial__tip--top::before {
  content: "\00a0";
  position: absolute;
  width: 1rem;
  height: 1rem;
  bottom: 1px;
  left: 0;
  transform: translate(0, 100%);
  border: 0.5rem solid var(--tutorial-tip-background);
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.tutorial__tip-container {
  margin: 1rem 1rem 0.5rem 1rem;
}
.tutorial__footer {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  align-items: center;
  height: 2rem;
}
.tutorial__footer > span {
  font-weight: 600;
  flex: 1;
  opacity: 0.5;
  font-size: 0.8em;
}
.tutorial__navigator {
  font-family: var(--tutorial-font);
  font-size: 13px;
  font-weight: 600;
  height: 24px;
  min-width: 24px;
  border: none;
  padding: 0 8px 0 4px;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  color: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease;
}
.tutorial__navigator svg {
  transition: inherit;
  opacity: 0.75;
  width: 18px;
  height: 18px;
  margin-right: 4px;
}
.tutorial__navigator span {
  transition: inherit;
  opacity: 0.5;
  position: relative;
  top: -1px;
}
.tutorial__navigator:active,
.tutorial__navigator:focus {
  background-color: transparent;
}
.tutorial__navigator:hover svg,
.tutorial__navigator:hover span {
  opacity: 1;
}
.tutorial__navigator--hidden {
  display: none;
}
@keyframes tutorial__pulse1 {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(-3px, -3px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes tutorial__pulse2 {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(3px, -3px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes tutorial__pulse3 {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(3px, 3px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes tutorial__pulse4 {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(-3px, 3px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
